<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Courses</title>
    <link rel ="stylesheet" type = "text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center" >
    <div><h2>Manage Courses</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/courses/new}"> Add New Course</a>
    </div>
    <div th:if="${message}" class ="alert alert-success text-center">
        [[${message}]]
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Course Name</th>
                <th>Course Location</th>
                <th></th>

            </thead>
            <tbody>
            <th:block th:each="course : ${listCourses}">
                <td>[[${course.id}]]</td>
                <td>[[${course.course_name}]]</td>
                <td>[[${course.course_location}]]</td>
                <td>
                    <a class=" h4 mr-3" th:href="@{'/courses/edit/' + ${course.id}}">Edit</a>
                    <a class = "h4" th:href="@{'/courses/delete/' + ${course.id}}">Delete</a>

                </td>
                </tr>
            </th:block>
            </tbody>
            </table-class>
    </div>
</body>
</html>