<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Deans</title>
    <link rel ="stylesheet" type = "text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center" >
    <div><h2>Manage Deans</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/deans/new}"> Add New Dean</a>
    </div>
    <div th:if="${message}" class ="alert alert-success text-center">
        [[${message}]]
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>

            </thead>
            <tbody>
            <th:block th:each="dean : ${listDeans}">
                <td>[[${dean.id}]]</td>
                <td>[[${dean.email}]]</td>
                <td>[[${dean.firstName}]]</td>
                <td>[[${dean.lastName}]]</td>
                <td>
                    <a class=" h4 mr-3" th:href="@{'/deans/edit/' + ${dean.id}}">Edit</a>
                    <a class = "h4" th:href="@{'/deans/delete/' + ${dean.id}}">Delete</a>

                </td>
                </tr>
            </th:block>
            </tbody>
            </table-class>
    </div>
</body>
</html>